<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/bjzgh/css/common.css" media="all"/>
</head>
<body>
<!--路径导航-->
<div class="common">
	<span class="layui-breadcrumb">
		<a href="javascript:;">当前位置</a>
		<span lay-separator="">：</span>
		<a href="route?name=repair/repairHourName">维修工时</a>
        <span lay-separator="">/</span>
        <a href="#">工时维修项目</a>
        <span lay-separator="">/</span>
        <a class="pointer" href="javascript:;">批量添加</a>
	</span>
</div>
<!--内容主体-->
<div class="main-content">
    <form class="layui-form fullForm" action="">
        <div class="layui-form-item">
            <p class="listNum">1.模板导入</p>
            <a class="downTem" download href="/contractContract/downloadTemplate">点击下载《物料导入模板》</a>
            <span class="downTip">为了导入准确性，请严格按照模板格式及要求填写</span>
        </div>
        <#if storeId??>
        <input type="hidden" name="storeId" value="${storeId}">
        </#if>
        <p class="listNum">2.上传文件</p>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <input name="file" type="text" autocomplete="off" class="layui-input">
                <button type="button" class="layui-btn clickBtn btn-110" id="upload">
                    <i class="layui-icon">&#xe608;</i> 上传文件
                </button>
                <button type="button" class="layui-btn layui-btn-primary whiteBtn btn-88" id="cenCelBtn" >返回</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="/plugins/layui/layui.js"></script>
<script type="text/javascript" src="/bjzgh/pages/store/storeMaterialListAddMore.js"></script>
</body>
</html>