<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>盟固利车辆档案管理系统</title>
    <link rel="stylesheet" href="plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="bjzgh/css/login.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="container">
    <div class="login-title">
        <img src="/images/login-title-manager.png">
    </div>
    <div class="login-box">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <h1>车辆档案管理系统</h1>
            <ul class="layui-tab-title">
                <li class="layui-this">管理员登录</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <i class="layui-icon input-icon-css">&#xe66f;</i>
                            <input type="text" name="username" lay-verify="title" autocomplete="off" placeholder="账户"
                                   class="layui-input login-input">
                        </div>
                        <div class="layui-form-item">
                            <i class="layui-icon input-icon-css">&#xe673;</i>
                            <input type="password" name="password" lay-verify="title" autocomplete="off" placeholder="密码"
                                   class="layui-input login-input">
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn login-btn" lay-submit="" lay-filter="adminLogin">登录</button>
                        </div>
                    </form>
                    <p class="forgetPwd" id="forgetPwd">忘记密码</p>
                </div>
                <div class="layui-tab-item">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <i class="layui-icon input-icon-css">&#xe66f;</i>
                            <input type="text" name="leaderID" lay-verify="title" autocomplete="off" placeholder="账户"
                                   class="layui-input login-input">
                        </div>
                        <div class="layui-form-item">
                            <i class="layui-icon input-icon-css">&#xe673;</i>
                            <input type="password" name="leaderPWD" lay-verify="title" autocomplete="off" placeholder="密码"
                                   class="layui-input login-input">
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn login-btn" lay-submit="" lay-filter="leaderLogin">登录</button>
                        </div>
                    </form>
                    <p class="forgetPwd">忘记密码</p>
                </div>
            </div>
        </div>
    </div>
    <div class="reset-pwd" style="display: none">
        <img src="images/login-warning.png" class="img-warning">
        <p class="p-warning">请联系管理员重置密码</p>
        <button class="layui-btn sure-btn">确定</button>
    </div>
</div>
<div class="footer">

</div>
<script type="text/javascript" src="plugins/layui/layui.js"></script>
<script src="bjzgh/js/login.js"></script>
<script type="text/javascript" src="/plugins/md5/md5.js"></script>
<script language="javascript">
    if(top.location!==self.location){
        top.location.href=self.location.href;
    }
</script>
</body>
</html>