#finePage,#generalPage,#page,#popPage,.formSearchBtn,.inline-btn {
    text-align: right
}

.manBox,.preview {
    -webkit-box-sizing: border-box
}

.deTitle,.itemHeader,.itemTitle,.listNum {
    font-weight: 700
}

body {
    background-color: #f0f3f8
}

.common,.main-content {
    background-color: #FFF
}

.common {
    z-index: 110;
    height: 40px;
    color: #9ea5bd;
    font-size: 14px;
    line-height: 40px;
    padding-left: 20px
}

.common .layui-breadcrumb a:hover,.common .pointer {
    color: #5361ff!important
}

.btn-65,.clickBtn,.whiteBtn {
    height: 32px;
    line-height: 32px;
    border-radius: 4px
}

.common .layui-breadcrumb {
    visibility: visible
}

.common .layui-breadcrumb a {
    cursor: default
}

.common .layui-breadcrumb span[lay-separator] {
    margin: 0 4px
}

.common .pointer {
    cursor: pointer!important
}

.deA,.moreBtn {
    cursor: pointer
}

.main-content {
    margin-top: 22px;
    left: 20px;
    right: 20px;
    min-height: 460px;
    position: absolute;
    padding: 22px 28px 0
}

.small-content {
    width: 60%;
    margin-left: 20%
}

.btn-div {
    margin-bottom: 10px
}

.clickBtn {
    background-color: #1890ff
}

.btn-65 {
    width: 65px
}

.btn-82 {
    padding: 0;
    width: 82px
}

.btn-88 {
    padding: 0;
    width: 88px
}

.btn-100 {
    width: 100px
}

.btn-110 {
    padding: 0;
    width: 110px
}

.btn-120 {
    padding: 0;
    width: 120px
}

.btn-140 {
    padding: 0;
    width: 140px
}

.table-btn {
    border: none;
    color: #5865ff;
    font-size: 14px;
    background-color: transparent
}

.downTem,.layui-form-radio>i,.listNum {
    font-size: 16px
}

.layui-table-cell,.layui-table-tool-panel li {
    overflow: visible;
    white-space: inherit
}

.layui-table-view .layui-table {
    width: 100%
}

.layui-table td,.layui-table th,.layui-table-col-set,.layui-table-fixed-r,.layui-table-grid-down,.layui-table-header,.layui-table-page,.layui-table-tips-main,.layui-table-tool,.layui-table-total,.layui-table-view,.layui-table[lay-skin=line],.layui-table[lay-skin=row] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e6e6e6
}

.layui-table tbody tr:hover,.layui-table thead tr,.layui-table-click,.layui-table-header,.layui-table-hover,.layui-table-mend,.layui-table-patch,.layui-table-tool,.layui-table-total,.layui-table-total tr,.layui-table[lay-even] tr:nth-child(even) {
    background-color: #FAFAFA
}

.layui-table td,.layui-table th {
    height: 54px
}

.layui-table th {
    color: rgba(0,0,0,.85)
}

.layui-table td {
    color: rgba(0,0,0,.65)
}

.table-cut {
    margin-left: 5px;
    margin-right: 5px
}

.layui-table-cell {
    height: initial;
    white-space: initial;
    line-height: 22px;
    padding: 0 10px;
    word-wrap: break-word
}

.layui-table-view,.table-margin {
    margin: 0
}

.layui-table-tool-self {
    display: none
}

.layui-laypage a,.layui-laypage button,.layui-laypage input,.layui-laypage select {
    margin-left: 5px;
    border-radius: 4px;
    border: 1px solid #d9d9d9
}

.layui-laypage-curr {
    margin-left: 5px!important;
    border: 1px solid #d9d9d9
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
    border-radius: 4px;
    background-color: #1890ff!important
}

.layui-layer-title {
    color: #666!important;
    line-height: 50px!important;
    border-bottom: none!important;
    background-color: #FFF!important
}

.layui-bg-blue,.layui-form-select dl dd.layui-this {
    background-color: #1890ff!important
}

.popup .popup-form {
    margin-left: 100px;
    margin-top: 10px
}

.popup .short-block {
    width: 216px!important;
    margin-left: 120px
}

.popup .layui-input-block {
    width: 435px
}

.popup .layui-input-block-long {
    width: 470px
}

.popup .layui-input-block .layui-input {
    width: 100%;
    height: 32px;
    line-height: 32px
}

.popup .layui-input-block .layui-input,.popup .layui-input-block .layui-textarea {
    border-radius: 4px;
    border-color: #d9d9d9;
    color: rgba(0,0,0,.6)
}

.popup .layui-form-checkbox[lay-skin=primary] span {
    color: rgba(0,0,0,.65)!important
}

.popup .layui-form-checked[lay-skin=primary] i {
    width: 14px!important;
    height: 14px!important;
    border-color: #1890ff!important;
    background-color: #1890ff!important
}

.popup .checkbox-margin {
    margin-bottom: 5px
}

.popup .checkbox-second,.popup .submit-div {
    margin-left: 140px
}

.popup .submit-div {
    margin-top: 10px;
    margin-bottom: 30px
}

.layui-form-label {
    padding: 6px 15px;
    color: rgba(0,0,0,.85)
}

.long-label {
    width: 90px
}

.longger-label {
    width: 105px
}

.longger-label-more {
    width: 120px
}

.long-block {
    margin-left: 120px
}

.layui-input-inline {
    width: 220px!important
}

.layui-input {
    width: 100%;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    border-color: #d9d9d9;
    color: rgba(0,0,0,.6)
}

.short-input {
    width: 217px
}

.layui-form-item .layui-inline {
    margin-bottom: 10px
}

.layui-form-radio>i:hover,.layui-form-radioed>i {
    color: #1890ff!important
}

.textarea-css {
    min-height: 120px
}

.form-submit {
    margin-top: 10px;
    margin-left: 140px
}

.layui-bg-gray {
    background-color: #bfbfbf!important
}

.layui-bg-green {
    background-color: #52c41a!important
}

.inline-btn {
    width: 500px
}

.itemTitle {
    margin-left: 160px
}

.itemHeader {
    margin-left: 50px
}

.layui-form-checked[lay-skin=primary] i {
    background-color: #1890ff;
    border-color: #1890ff!important
}

.layui-transfer-active .layui-btn-disabled {
    color: #C9C9C9!important;
    border-color: #e6e6e6!important;
    background-color: #FBFBFB!important
}

.layui-transfer-active .layui-btn {
    border-color: #1890ff;
    background-color: #1890ff
}

.fullForm {
    padding: 60px 0 100px 18%
}

.popFullForm {
    padding: 20px 0 30px 22%
}

.popFullForm .layui-input-block {
    margin: 0!important
}

.popFullForm .layui-form-item {
    margin-bottom: 0!important
}

.popFullForm .layui-form-label {
    color: rgba(0,0,0,.64)
}

.fullForm .layui-input-inline {
    width: 400px!important
}

.fullForm .long-inline {
    width: 530px!important
}

.fullForm .layui-textarea {
    width: 500px!important
}

.fullForm .layui-input {
    width: 100%
}

.fullForm .layui-form-label {
    width: 130px
}

.fullForm .formBtn {
    margin-top: 60px;
    margin-left: 70px
}

.fullForm .layui-input-block {
    width: 400px;
    line-height: 32px;
    margin: 20px 0 0 30px
}

.isSure,.isSureTips {
    width: 100%;
    position: absolute;
    text-align: center
}

.fullForm .btn-110 {
    margin: -66px 0 0 420px
}

.fullFormL .btn-110 {
    margin: -76px 0 0 420px
}

.fullFormL {
    padding: 30px 0 30px 10%
}

.fullFormL .formBtn {
    margin-top: 60px;
    margin-left: 180px
}

.listNum {
    line-height: 50px;
    color: rgba(0,0,0,.85)
}

.deName,.downTem,.downTip {
    line-height: 30px
}

.downTem {
    color: #5361ff;
    display: block;
    margin-left: 30px
}

.downTip {
    margin-left: 30px;
    color: rgba(0,0,0,.64)
}

.preview {
    min-width: 400px;
    min-height: 130px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #e6e6e6;
    -o-border-image: initial;
    border-image: initial;
    border-radius: 4px;
    padding: 5px
}

.layui-tab {
    margin: 0
}

.layui-tab-title {
    height: 58px;
    padding-left: 20px;
    border-bottom-width: 0;
    background-color: #FFF
}

.layui-tab-title li {
    line-height: 58px
}

.layui-tab-title .layui-this:after {
    height: 58px;
    border-bottom: 2px solid #5865ff!important
}

.layui-tab-brief>.layui-tab-title .layui-this {
    line-height: 58px;
    color: #5865ff!important
}

.layui-tab-content {
    padding: 0
}

.isSure {
    top: 80px;
    color: #666;
    font-size: 18px
}

.isSureTips {
    top: 120px;
    color: rgba(114,125,255,.6)
}

.cutLine,.cutLineTop {
    width: 100%;
    color: #e9e9e9;
    position: absolute
}

.cutLineTop {
    top: 0;
    margin: 5px 0
}

.cutLine {
    top: 185px
}

.isSureBtn {
    right: 40px;
    bottom: 10px;
    position: absolute
}

.popForm {
    padding-top: 30px
}

.popForm .layui-input-block {
    width: 418px;
    color: #666;
    margin-left: 53px
}

.prove,.prove img {
    width: 100%
}

.popForm .layui-textarea {
    min-height: 91px
}

.prove {
    margin: 0 auto
}

#preContent .newsPeople,#preContent .newsTitle {
    width: 100%;
    color: #333;
    margin-top: 10px;
    text-align: center
}

#preContent .newsPeople {
    color: #3e4c5f;
    margin: 30px 0
}

#preContent .newsPeople .newsFrom {
    margin-left: 20px
}

#preContent .newsContent {
    margin: 0 50px 20px
}

.layui-timeline-title {
    color: #666
}

.layui-timeline-span {
    color: #252525
}

.layui-timeline-axis {
    width: 32px;
    height: 32px;
    color: #fff;
    line-height: 32px;
    background-color: #1890ff
}

.layui-timeline {
    padding-left: 140px;
    padding-top: 20px
}

.layui-timeline-content {
    padding-left: 44px
}

.layui-timeline-item:before {
    left: 10px;
    width: 2px;
    background-color: #1890ff
}

.kind-box,.title-box {
    left: 40px;
    position: absolute
}

.demo-tree-more {
    margin-top: 10px
}

.layui-table-view,.lineTree,.treeTable .layui-table {
    margin-top: 0
}

.layui-tree-txt {
    color: rgba(0,0,0,.65)
}

.layui-tree-iconClick {
    height: 16px;
    color: #979797
}

.layui-tree-entry {
    height: 24px
}

.kindBox,.manBox {
    height: 146px;
    border-radius: 10px
}

.tips {
    float: right;
    margin-top: -26px;
    margin-right: -161px;
    color: rgba(114,125,255,.6)
}

.deP,.deTitle {
    color: rgba(0,0,0,.85)
}

.deTitle {
    line-height: 50px
}

.deP {
    width: 100%
}

.deA {
    color: #5664ff;
    font-size: 14px;
    line-height: 38px;
    margin-left: 14px
}

.deName {
    font-weight: 400;
    color: rgba(0,0,0,.64)
}

.kind-box h3,.title-box h3 {
    line-height: 30px;
    font-weight: 700
}

.deName-margin {
    margin-left: 50px
}

.editTip {
    float: right;
    color: #338dfc;
    margin-top: -100px;
    margin-right: -185px
}

.leaderName {
    margin-right: 16px
}

.radioId {
    margin-left: 10px
}

.btn-center {
    text-align: center;
    margin: 10px 0 20px
}

.manBox_02,.manBox_03,.manBox_04 {
    margin-left: 20px
}

.title-box {
    right: 16px;
    margin-top: 20px
}

.title-box h3 {
    font-size: 16px;
    margin-bottom: 10px
}

.manBox {
    width: 23%;
    float: left;
    color: #FFF;
    box-sizing: border-box
}

.manBox_01 {
    background: url(/images/fwqy-bg.png);
    background-size: cover
}

.manBox_02 {
    background: url(/images/lmzg-bg.png);
    background-size: cover
}

.manBox_03 {
    background: url(/images/yxzg-bg.png);
    background-size: cover
}

.manBox_04 {
    background: url(/images/ptzg-bg.png);
    background-size: cover
}

.manKind {
    color: #FFF;
    margin: 18px 0 0 18px
}

.manKind>img {
    margin-right: 5px
}

.manHr {
    margin-top: 20px;
    background-color: rgba(255,255,255,.4)
}

.manNum {
    font-size: 22px;
    margin: 18px 0 0 18px
}

.kind-content {
    width: 50%;
    float: left
}

.moreBtn {
    float: right;
    margin-top: -50px;
    margin-right: 20px;
    color: #5361ff
}

.moreBtn>img {
    margin-left: 10px
}

.kind-box {
    right: 40px;
    border-radius: 10px;
    background-color: #FFF
}

.kind-box h3 {
    font-size: 16px;
    margin: 20px 0 20px 18px
}

.kind-box-first {
    top: 268px
}

.kind-box-second {
    padding-bottom: 20px;
    top: 720px
}

.kind-box-third {
    top: 1240px
}

.kind-box-fourth {
    top: 1690px
}

.kindBox {
    width: 50%;
    float: left;
    color: #FFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 25%
}

.kindBox_01 {
    background: url(/images/sumPeople.png);
    background-size: cover
}

.kindBox_02 {
    margin-top: 20px;
    background: url(/images/sumFee.png);
    background-size: cover
}

.layui-btn-disabled,.layui-btn-disabled:hover {
    border: none;
    font-size: 14px;
    background-color: transparent;
}

.popWindowP {
    color: #666;
    margin-left: 26px;
    margin-bottom: 10px;
}

.w-e-toolbar {
    flex-wrap: wrap;
    background-color: #fff!important;
}

.layui-form-selected dl {
    z-index: 11000;
}

.layui-table-edit {
    width: 95%;
    top: 10px!important;
}

.layui-table-body,.layui-table-cell,.layui-table-box {
    overflow: visible;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #f0f2f5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
//-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #f9f9f9;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
//-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #f1f1f1;
}
